{% extends 'customers/base.html' %}

{% block title %}Add Customer | Telecom Information Management System{% endblock %}

{% block content %}
<h1 class="mb-4">Add Customer</h1>
<form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="form-group">
        {{ form.customer_name.label_tag }}
        {{ form.customer_name }}
    </div>
    <div class="form-group">
        {{ form.aadhaar_no.label_tag }}
        {{ form.aadhaar_no }}
    </div>
    <div class="form-group">
        {{ form.current_plan.label_tag }}
        {{ form.current_plan }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}